.logo {
  width: 15rem;
  margin: 3rem;
}

.sizzle {
  font-family: "Pacifico", cursive;
  font-size: 40px;
}

.navbar {
  width: 100%;
}

.right {
  float: righlt;
}

.btn {
  margin: 1rem;
  background-color: black;
  text-decoration: none;
}
